* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: indigo;
}

.container {
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  filter: url(#goo);
}

.button {
  width: 100px;
  height: 100px;
  position: relative;
  transition: .5s;
  background: black;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.button::before {
  content: '';
  background: white;
  width: 10px;
  height: 10px;
  top: 15px;
  right: 20px;
  position: absolute;
  border-radius: 50%;
  transform: rotateX(-15deg) rotateY(-15deg);
}

.button::after {
  content: '';
  background: black;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: -30px;
  position: absolute;
  border-radius: 50%;
  filter: blur(5px);
}

.button p:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0);
  font-size: 40px;
  color: white;

  transition: .3s ease-in;
  z-index: 100;
}

.button:hover p:nth-child(1) {
  transform: translate(-50%, 60%) rotateX(90deg);
}

.button p:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%) rotateX(-90deg);
  font-size: 40px;
  color: white;

  transition: .3s ease-in;
  z-index: 100;
}

.button:hover p:nth-child(2) {
  transform: translate(-50%, -50%) rotateX(0);
}

.button:hover ~ .button {
  transform: translateX(2px);
}